<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/car_in_common_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.CarInCommonTest2">

        <!-- Splash Activity (Launcher) -->
        <activity
            android:name=".utils.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Declared Activities -->
        <activity android:name=".main_menu.MainMenuActivity" />
        <activity android:name=".calendar.CalendarActivity" />
        <activity android:name=".transactions.TransactionsActivity" />
        <activity android:name=".chat.ChatActivity" />
        <activity android:name=".chat.GroupChatActivity" />
        <activity android:name=".auth.StartScreenActivity" />
        <activity android:name=".main_menu.ProfileActivity" />
        <activity android:name=".auth.RegisterActivity" />
        <activity android:name=".vehicle.MapsActivity" />
        <activity android:name=".vehicle.CarDetailsActivity" />
        <activity android:name=".utils.SettingsActivity" />
        <activity
            android:name=".auth.LoginActivity"
            android:exported="true" />

        <!-- Meta-data -->
        <meta-data
            android:name="android.security.rkp.disable"
            android:value="true" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCX26wM2uJgtxCwTQnlDCKUJOh0VDlZAAs" />

    </application>
</manifest>
